body {
    background-color: #2A0D4C;
    color: seashell;
  }
  
  h1 {
    text-align: center;
    font: 13px;
  
    
  }
  
  main {
    width: 500px;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid black;
    font-size: 19px;
  }
  
  #enemy {
    text-align: center;
    border: 1px solid black;
    background-color: red;
    display: flex;
    justify-content: space-between;
    width: 500px;
    display: none;
  }
  

  #enemyName, #enemyHealth, #enemyLevel {
    padding: 20px;
  }
  
  #enemyLevel {
    padding-right: 15px;
  }
  
  #text {
    padding: 15px;
  }

  .buttons { 
    width: 100px;
    height: 55px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
   }
  
   #button00 {
    width: 350px;
    height: 35px;
    display: none;
    margin-right: 105px;
  
   
   }

  #inv {
    display: block;
  }
  #wepShop {
    display: none;
    text-align: center;
  }

  #itemShop {
    display: none;
    text-align: center;
  }

  #locations {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
    gap: 5px;
    text-align: center;
    width: 400px;
  }
  
  #matrix {
    padding: 10px;
    
  }
  
  #forest {
    padding: 10px;
    
  }
  
  #abyss {
    padding: 10px;
  }
  
  #store {
    padding: 10px;
  }
  #stats {
    text-align: center;
    padding-top: 0px;
    border: 1px solid seashell;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 450px;
    height: auto;
    font-size: 20px; 

  }
  #health, #coins, #level {
    padding: 20px;
  }